<div class="top">
    <div class="container-fluid">
      <div class='row-fluid'>
        <div class='span6'>
          <h1>Space.ly</h1>
        </div>
        <div class='span6'>
          <span class="twtr">
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out spacely.cloudfoundry.com. My cool space" data-via="knowmevish" data-hashtags="teamdotly">Tweet</a> 
          </span>
           <span class="fbshare">
            <a href="#"><img src ="/assets/fshare.gif" ></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class ="image-window" id="image-window"> 
  
</div>
<div class="bottom">
	<div class="container-fluid"></div>
</div>
<% content_for :js do %>
<script>
 var read_me = 1
 </script>
<% end %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





