<div class="top">
  <div class="container-fluid">
    <div class='row-fluid'>
      <div class='span6'>
        <h1>Space.ly</h1>
      </div>
      <div class='span3'>
        <div class='row-fluid'>
          <span class='span6'>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out spacely.cloudfoundry.com. My cool space" data-via="knowmevish" data-hashtags="teamdotly">Tweet</a> 
          </span>
          <span class ='span6'>
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="250" data-show-faces="false" data-font="lucida grande">
            </div>
          </span>
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="image-window" id="image-window"> 
  
</div>

<div class="bottom">
	<div class="container-fluid"></div>
</div>
<% content_for :js do %>
<script>
 var read_me = 1
 </script>
<% end %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





